url: "https://other-people-ucsd.github.io/Pink-Currents" # the base hostname and protocol to the site (without an ending /)
title: "Other People" 
description: >- # This means to ignore newlines until "future:"
  Other People Literary Magazine is UC San Diego’s first student-run literary magazine and club. 
  We publish biannually in the Fall and Spring and accept works of fiction, poetry, creative 
  nonfiction, art, and photography. We wish to present the dynamic range of artistic capability 
  inherent in UCSD students, to create an inclusive platform to share creative works, and to 
  encourage literary and artistic exploration among all students. We seek to embrace our core 
  principle of showcasing “O(the)r People,” or celebrating at once our diversity, our individual 
  uniqueness, our shared experiences, and our collective journey through this world.
future: false
published: true

permalink: /:categories/:title # Removes default posts dates and hides file extension details


# Build settings
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/