---
layout: defaultMain
title: About

editor-in-chief:
- Dori Wang — Co-Editor in Chief
- Sophie Mo — Co-Editor in Chief

editorial:
- Olivia Hwang — Head Editor
- Nandika Mishra — Head Content
- Jessie Truong — Editorial
- Suphala Nibhanupudi — Editorial
- Hallie Macaulay — Editorial, Content
- Stephanie Collins — Editorial
- Spencer Vossman — Content
- Katie Clemmer — Content
- Sophia Donner — Content
- Violet Ford — Content
- Paige Johnson — Content
- Ploy Techawatanasuk — Content
- Jennifer Chen — Content
- Tracy Truong — Content
- Angel Sta Maria — Content
- Ivy Du — Content  

- Montanna Harling — Co-Founder, Editorial & Production (2019-22)
- Isaac Kopstein — Head Editor & Finance (2019-22)
- Leilani Dewindt — Editorial (2021-22)
- Olivia Koutsky — Editorial (2021-22)
- Emma Niro — Editorial (2021-22)
- Nicole Lopez — Co-Founder, Publicity & Events (2019-21)
- Ashley Hirao — Head Copy Editor (2019-21)
- Cathy Huang — Editorial (2019-21)
- Eunice Kim — Editorial (2021-21)
- Rachel Seo — Editorial (2019-21)
- Stephanie Duncan — Editorial (2019-21)
- Sydney Kessler — Editor-at-Large (2019-20)
- Amy Cheng — Editorial (2019-20)
- Chloe Esser — Editorial (2019-20)

- Sanjana Dhamankar — Content (2019-22)
- Janelle Kim — Head Content Writer, Former PR Director (2019-21)
- Jennifer Khuu — Content (2019-21)
- Ruisi Shu — Content (2019-21)
- Abigail Hora — Content (2019-20)
- Hemmy Chun — Content (2019-20)
- Jasmine Torres — Content (2019-20)

design_team:
- Allison Gable — Design Director
- Caroline Tjoe — Co-Design Director
- Kevin Jang — Web Developer
- Helen Huang — Design Illustrator
- Kevin Phan — Design Illustrator
- Amy Stukenholtz — Design Illustrator
- Kayla Weiss — Design Illustrator
- Tammy Ding — Design Illustrator
- Katie Gasper — Design Illustrator
- Isabella Villante — UX Design
- Camille Wang — Design Illustrator (2021-22)
- Geraldine Wambersie — Design Director (2019-21)
- Elysia Mac — Design Illustrator (2019-21)
- Hana Tobias — Design Illustrator (2019-21)
- Jaiden McCrann — Design Illustrator (2019-21)
- Kaley Chun — Design Illustrator (2019-21)
- Eunsoo Lee — Co-Design Director (2019-20)
- Jack Yang — Web Design (2019-20)
- Imanol Tovar — Design Illustrator (2019-20)
- Meryem Bahadir — Design Illustrator (2019-20)
- Kelly Tran — Design Illustrator (2019-20)
- Zhilin Li — Design Illustrator (2019-20)

publicity_events:
- Kristy Lee — Co-Design Director (Social Media)
- Christopher Chan — Social Media Director
- Sneh Panhcoli — Social Media
- Alvin Zhou — Social Media
- Johann Milios — Social Media
- Dayton Garret — Social Media

- Casey Tran — Treasurer (2022-23)
- Victor Wang — Event Planning (2022-23)
- Melissa Zhuang — Social Media (2022-22)
- Ana Castro — PR (2019-21)
- Kela Sowell — PR (2019-21)
- Kelly Nham — PR (2019-21)
- Riley Sutton — PR (2019-21)
- Katrina Ngo — PR (2019-21)
- Sara Shor — PR (2019-20)
- Valeria Castro Abril — Marketing (2019-20)
- Lisa Pham — Events (2019-20)
- Abigail Koornwinder — Events (2019-20)
- Ryan Roden — Events (2019-20)
- Ruby Hays — PR (2019-20)
---

<div class="cssanimation sequence fadeInBottom">
    
    <div class="IndexContainer">
        <div class="landing-title">
            <h1>
                <div class="post_title">WHO WE ARE
            </h1>
        </div>
    </div>
</div>


<div class="team_module">
    <h2><strong>ABOUT US</strong></h2>
    <div>
        <p>Other People Literary Magazine at UC San Diego is the first student-run literary magazine and club.</p>

        <p>
            We publish biannually in the Fall and Spring and accept works of fiction, poetry, creative nonfiction,
            art,
            and photography. We wish to present the dynamic range of artistic capability inherent in UCSD students,
            to
            create an inclusive platform to share creative works, and to encourage literary and artistic exploration
            among all students. We seek to embrace our core principle of showcasing “O(the)r People,” or celebrating
            at
            once our diversity, our individual uniqueness, our shared experiences, and our collective journey
            through
            this world. Our hope is that Other People Magazine will become a permanent organization at the
            University of
            California, San Diego, and will remain an enduring outlet for student creativity.
        </p>
    </div>

    <h2><strong>SUBMISSIONS INFO</strong></h2>

    <p>
        Our Editorial team reviews submissions individually and votes on their favorite pieces based on quality,
        creativity, craft, and style. The team then convenes to determine the strongest pieces of the selection, the
        number of which is adjusted to fit the maximum length of the magazine publication. For detailed submissions
        instructions, please see our <a href="https://otherpeoplesd.com/submissions">Submissions</a> page.
    </p>

    <h2><strong>OUR MISSION</strong></h2>

    <div class="center">
        <em>Other People<br />
            A place to explore the timeless human experience;<br />
            A place to revere the joys and struggles of our journeys through life;<br />
            A place to celebrate the uniqueness of the human spirit;<br />
            Through a fusion of Language, Art, Image, and Technology.<br /></em>
    </div>

    <br />

    <h2><strong>OUR STORY</strong></h2>

    <p>
        Other People Magazine began as a dream shared by a group of writing and art enthusiasts. The magazine's
        founders all had the same wish—for UCSD to have a place where literary and artistic creativity could
        flourish on a predominately STEM-focused campus. When a Fall 2019 writing workshop class brought this group
        of Literature/Writing majors and art lovers together, their dream began to become reality. Together, the
        founders inspired each other to embark on the journey of turning their dream into an enduring legacy of
        artistic expression on campus. And so Other People began—in a flurry of mission-statement writing, logo
        designing, team recruitment, flyer posting, and excited member meetings late at night.
    </p>

    <p>
        Gradually, a magazine and club began to take shape. We were thrilled by the outpouring of support and
        attendees from Other People's first informational session, as well as by the volume of creative work
        submitted to the magazine during the first submissions cycle. Drawing upon the strength of collaboration
        from students of many disciplines, backgrounds, and talents, the dream of Other People became reality in
        July 2020, which marked the publication of Other People Literary Magazine's first issue.
    </p>

    <p>
        This project was one that was months in the making. We could not have reached the milestone of publishing
        our first issue without the help of all those who supported Other People, who believed in us back when we
        were just a dream, who offered us their advice and wisdom, who shared with us their creativity. Thank you;
        you are our inspiration. We hope Other People is a reality that lives up to your dreams.
    </p>

</div>

<div class="team_module">
    <h2>TEAM ROLES</h2>
    <ul class="application-grid">
        <li>
            <h3>Editorial & Content</h3>
            <p>Editors review and edit submissions, then produce the pages of the magazine. Content writers create
                exclusive prose, interview submittors about their
                stories, and may write articles of their choice. </p>
                <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLScjBb0DeaZcUebvil4lfNuSbTFL_UwEGiAeydntWlI-kA9s5w/viewform?usp=sf_link">(Apply to Content!)</p>
        </li>
        <li>
            <h3>Design & Social Media</h3>
            <p>Design illustrators create artwork to complement accepted prose. We publish digital and print copies of
                issues, as well as designing inclusive access to artistic expression through our website.</p>
                <p style="text-align: center;">(Applications Closed)</p>
        </li>
        <li>
            <h3>Event Planning</h3>
            <p>Promote the magazine through social media, plan open mic nights, fundraisers, socials, etc. Marketing and
                event planners help fund the magazine and increase our outreach beyond the campus.</p>
                <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfpVqluRR4TrPDJouo_Evj_J5D1fGFbvNntEgSAe6u7_tMW-A/viewform?usp=sf_link">(Apply Here!)</p>
        </li>
        <li>
            <h3>Web Development/UI/UX</h3>
            <p>The website developer/producer is responsible for publishing content to the website and implementing
                accessible designs to display to the public through frontend programming!</p>
                <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfMolDd9ypQFG6jCyU37oTUY4DAd_2Im1Iky9i-YC2p0n8hIQ/viewform?usp=sf_link">(Apply Here!)</a></p>
            </p>
        </li>
    </ul>
</div>

<div class="cssanimation sequence fadeInBottom">
    <div class="IndexContainer">
        <div class="landing-title">
            <div class="post_title"><h1>OUR TEAM</h1></div>
        </div>
    </div>

    <div class="team_module">
        <!-- EDITOR-IN-CHIEF -->
        <div class="team_module_child">
            <ul>
                <h2>Editor in Chief</h2>
                {% for editor-in-chief in page.editor-in-chief %}
                <li>
                    <h3>/ {{ editor-in-chief }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- EDITORIAL -->
        <div class="team_module_child">
            <ul>
                <h2>Editorial</h2>
                {% for editorial in page.editorial %}
                <li>
                    <h3>/ {{ editorial }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- DESIGN -->
        <div class="team_module_child">
            <ul>
                <h2>Design</h2>
                {% for design_team in page.design_team %}
                <li>
                    <h3>/ {{ design_team }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- EVENTS -->
        <div class="team_module_child">
            <ul>
                <h2>PR + Events</h2>
                {% for publicity_events in page.publicity_events %}
                <li>
                    <h3>/ {{ publicity_events }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>
