  <link rel="icon" type="image/svg" href="../assets/favicons/TheFavicon.svg" />
  <link rel="icon" type="image/png" sizes="256x256" href="../assets/favicons/TheFavicon(256).png" />
  <link rel="icon" type="image/png" sizes="128x128" href="../assets/favicons/TheFavicon(128).png" />
  <link rel="icon" type="image/png" sizes="64x64" href="../assets/favicons/TheFavicon(64).png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/TheFavicon(32).png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/TheFavicon(16).png" />



