<link rel="icon" type="image/svg" href="{{ site.baseurl }}/assets/favicons/TheFavicon.svg" />
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.baseurl }}/assets/favicons/TheFavicon(256).png" />
<link rel="icon" type="image/png" sizes="128x128" href="{{ site.baseurl }}/assets/favicons/TheFavicon(128).png" />
<link rel="icon" type="image/png" sizes="64x64" href="{{ site.baseurl }}/assets/favicons/TheFavicon(64).png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/TheFavicon(32).png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/TheFavicon(16).png" />
{% feed_meta %}
{% seo %}