<header>
    <h2>
        <a href="{{ site.url }}{{ site.baseurl }}/">Other<br>People ©</a>
    </h2>
    <h2>
            <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a> / <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a> / <br>
            <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a> / <a href="{{ site.url }}{{ site.baseurl }}/visualarts">Visual Arts</a>
    </h2>
    <h2 class="menu" onclick="openNav()">
        <a>
        Menu</a>

    </h2>
</header>

<div id="myNav" class="overlay">
    <div class="overlay-content">

        <h2>
            <a href="{{ site.url }}{{ site.baseurl }}/">Other<br>People ©</a>
        </h2>
        <h2>
            <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a> / <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a> / <br>
            <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a> / <a href="{{ site.url }}{{ site.baseurl }}/visualarts">Visual Arts</a>
        </h2>
        <h2 href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <a>
                Close
            </a>

        </h2>




    </div>
</div>

<script>
    // Hide Header on on scroll down
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function (event) {
        didScroll = true;
    });

    setInterval(function () {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();

        // Make sure they scroll more than delta
        if (Math.abs(lastScrollTop - st) <= delta) 
            return;
        
        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight) {
            // Scroll Down
            $('header')
                .removeClass('nav-down')
                .addClass('nav-up');
        } else {
            // Scroll Up
            if (st + $(window).height() < $(document).height()) {
                $('header')
                    .removeClass('nav-up')
                    .addClass('nav-down');
            }
        }

        lastScrollTop = st;
    }
</script>

<script>
    function openNav() {
        document
            .getElementById("myNav")
            .style
            .height = "100%";
    }

    function closeNav() {
        document
            .getElementById("myNav")
            .style
            .height = "0%";
    }
</script>