<header>
    <div class="header-main">
        <h2>
            <a href="{{ site.baseurl }}/">Other<br>People ©</a>
        </h2>
        <h2 class="nav-genres">
            <a href="{{ site.baseurl }}/poetry">Poetry</a> / <a
                href="{{ site.baseurl }}/fiction">Fiction</a> / <br>
            <a href="{{ site.baseurl }}/nonfiction">Nonfiction</a> / <a
                href="{{ site.baseurl }}/visualarts">Visual Arts</a>
        </h2>
        <button class="menu" onclick="openNav()" aria-label="Open Menu">Menu</button>
    </div>
    <div class="announcement" id="announcement">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSefZRm-KcEr7U9o3GY9_gsVNHu_IoQ735ZUFSHnslRpZSEjhQ/viewform?usp=sf_link"
            target="_blank" rel="noopener">
            Click here to preorder a physical copy of Refraction! (Ready by start of fall quarter)
        </a>
        <button id="close-notice" onclick="hideAnnouncement()" aria-label="Hide the Announcement">X</button>
    </div>
</header>

<div id="myNav" class="overlay">
    <div id="navContent" class="overlay-content hidden">
        <div class="overlay-header">
            <h2>
                <a href="{{ site.baseurl }}/">Other<br>People ©</a>
            </h2>
            <h2>
                <a href="{{ site.baseurl }}/poetry">Poetry</a> / <a
                    href="{{ site.baseurl }}/fiction">Fiction</a> / <br>
                <a href="{{ site.baseurl }}/nonfiction">Nonfiction</a> / <a
                    href="{{ site.baseurl }}/visualarts">Visual Arts</a>
            </h2>
            <button class="closebtn" onclick="closeNav()" aria-label="Close Menu">Close</button>
        </div>
        {% include mobile-nav.html %}
    </div>
</div>

<script>
    // Hide Header on on scroll down
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function (event) {
        didScroll = true;
    });

    setInterval(function () {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();

        // Make sure they scroll more than delta
        if (Math.abs(lastScrollTop - st) <= delta)
            return;

        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight) {
            // Scroll Down
            $('header')
                .removeClass('nav-down')
                .addClass('nav-up');
        } else {
            // Scroll Up
            if (st + $(window).height() < $(document).height()) {
                $('header')
                    .removeClass('nav-up')
                    .addClass('nav-down');
            }
        }

        lastScrollTop = st;
    }
</script>

<script>
    function openNav() {
        document
            .getElementById("myNav")
            .style
            // .display = 'block';
            .height = "100%";
        document.getElementById('navContent').classList.remove('hidden');
    }

    function closeNav() {
        document
            .getElementById("myNav")
            .style
            // .display = 'none';
            .height = "0%";
        document.getElementById('navContent').classList.add('hidden');
    }
</script>