<div class="mobile-nav">

    <h1></h1>
    <h1 class="search">
        <a href="{{ site.url }}{{ site.baseurl }}/search">Search

        <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
                <style type="text/css"></style>
                <polyline class="st0" points="116.7,116.7 1083.3,116.7 1083.3,1083.3 "/>
                <line class="st0" x1="1083.3" y1="116.7" x2="116.7" y2="1083.3"/>
            </svg>

        </a>
    </h1>
</h1>
<br>

<div class="genres">
    <h3>Genres</h3>
    <h1>
        <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/visualarts">Visual‎‎‏‏‎Arts</a>
    </h1>
</div>

<h3>Menu</h3>

<h1>
    <a href="{{ site.url }}{{ site.baseurl }}/about">About</a>
</h1>

<h1>
    <a href="https://issuu.com/otherpeoplesd" target="_blank">Issuu</a>
</h1>

<h1>
    <a href="https://www.instagram.com/otherpeoplesd/" target="_blank">Instagram</a>
</h1>

<h1>
    <a href="{{ site.url }}{{ site.baseurl }}/submissions">Submissions</a>
</h1>
<h1>
    <a href="{{ site.url }}{{ site.baseurl }}/team">Team</a>

    <footer class="mobile-nav">
        <h4>Other People © {{ 'now' | date: "%Y" }}
            <br>ALL RIGHTS RESERVED
</h4>
    </footer>
</div>