<div class="mobile-nav">



    <h3>Menu</h3>

    <h1>

        <h1>
            <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
        </h1>

        <h1>
            <a href="{{ site.url }}{{ site.baseurl }}/submissions">Submissions</a>
        </h1>
        <h1>
            <a href="{{ site.url }}{{ site.baseurl }}/team">Team</a>
        </h1>
    </h1>

    <h3>Genres</h3>
    <h1>
        <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a><br>
        <a href="{{ site.url }}{{ site.baseurl }}/visualarts">Visual‎‎‏‏‎Arts</a>
    </h1>

</div>