<h1 class="index-title">
    <div class="cssanimation sequence fadeInBottom">Winter 2022 — <br>Collection No. 4<br/>REFRACTION</div>
</h1>

<h3 class="post-title">Poetry</h3>
<div class="post-container">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% unless post.tags contains "Fiction" %}
    {% unless post.tags contains "Nonfiction" %}
    {% unless post.tags contains "Visual Arts" %}

    {% include genre.html %}

    {% endunless %}
    {% endunless %}
    {% endunless %}
    {%endif%}
    {% endfor %}
</div>

<br>

<h3 class="post-title">Fiction</h3>
<div class="post-container">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% unless post.tags contains "Visual Arts" %}
    {% unless post.tags contains "Nonfiction" %}
    {% unless post.tags contains "Poetry" %}

    {% include genre.html %}

    {% endunless %}
    {% endunless %}
    {% endunless %}
    {%endif%}
    {% endfor %}
</div>

<br>

<h3 class="post-title">Nonfiction</h3>
<div class="post-container">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% unless post.tags contains "Fiction" %}
    {% unless post.tags contains "Visual Arts" %}
    {% unless post.tags contains "Poetry" %}

    {% include genre.html %}

    {% endunless %}
    {% endunless %}
    {% endunless %}
    {%endif%}
    {% endfor %}
</div>

<br>

<h3 class="post-title">Visual Arts</h3>
<div class="post-container">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% unless post.tags contains "Fiction" %}
    {% unless post.tags contains "Nonfiction" %}
    {% unless post.tags contains "Poetry" %}

    {% include genre.html %}

    {% endunless %}
    {% endunless %}
    {% endunless %}
    {%endif%}
    {% endfor %}
</div>

<h2 class="w2b post-title">Keep Reading</h2>

<h3 class="post-title">Poetry</h3>
<div class="post-container">
    {% for post in site.tags['Poetry'] limit : 6 %}

    {% include genre.html %}

    {% endfor %}
</div>
<h3 class="post-title" style="text-align:right">
    <a href="{{ site.baseurl }}/poetry">[ See more ]</a>
</h3>

<h3 class="post-title">Fiction</h3>
<div class="post-container">
    {% for post in site.tags['Fiction'] limit : 6 %}

    {% include genre.html %}

    {% endfor %}
</div>
<h3 class="post-title" style="text-align:right">
    <a href="{{ site.baseurl }}/fiction">[ See more ]</a>
</h3>

<h3 class="post-title">Nonfiction</h3>
<div class="post-container">
    {% for post in site.tags['Nonfiction'] limit : 6 %}

    {% include genre.html %}

    {% endfor %}
</div>
<h3 class="post-title" style="text-align:right">
    <a href="{{ site.baseurl }}/nonfiction">[ See more ]</a>
</h3>

<h3 class="post-title">Visual Arts</h3>
<div class="post-container">
    {% for post in site.tags['Visual Arts'] limit : 6 %}

    {% include genre.html %}

    {% endfor %}
</div>
<h3 class="post-title" style="text-align:right">
    <a href="{{ site.baseurl }}/visualarts">[ See more ]</a>
</h3>
