// * {
//     border-style: solid;
//     border-width: 1px;
// }


.content-title {
    h4 {
        line-height: 1.8rem;
    }
}

.content {
    padding: $blockThree;
    margin-left: $blockSix;
    margin-right: $blockSix;

    h1 {
        font-family: Arial;
        font-size: 1.4rem;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-top: $blockFour;
        margin-bottom: $blockThree;
    }
    h3,
    h4 {
        line-height: 1.8rem;
    }

    img {
        width: 100%;
    }
}

.submissions-content {
    padding: $blockThree;
    margin-left: $blockSix;
    margin-right: $blockSix;

    h1 {
        font-family: Arial;
        font-size: 1.4rem;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-top: $blockFour;
        margin-bottom: $blockThree;
    }

    h1:nth-child(1) {
        margin-top: $blockThree;
    }
    h3 {
        line-height: 1.8rem;
    }

    h4 {
        opacity: 0.3;
        line-height: 1.2rem;
    }

    img {
        width: 100%;
    }
}

.submissions-status {

    h4{
    color: rgb(255, 153, 0);
    opacity: 1;

    }
}

.meta {
    opacity: 0.5;
}

.content-title {
    margin-top: $blockFour;
    padding: $blockThree $blockThree 0 $blockThree;
    margin-left: $blockSix;
    margin-right: $blockSix;
}

.copyright-footer {
    margin-top: $blockThree;
    opacity: 0.3;
    h4 {
        line-height: 1.2rem;
    }
}

.post-nav {
    padding: $blockFour;
    display: flex;
    a {
        color: $bodyColor;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}
.post-nav-next {
    text-align: right;
}

@media only screen and (max-width: 728px) {
    .content, .submissions-content {
        padding: $blockTwo;
        margin-left: 0;
        margin-right: 0;
    }

    .content-title {
        margin-top: $blockFour;
        padding: $blockTwo $blockTwo 0 $blockTwo;
        margin-left: 0;
        margin-right: 0;
    }

    .post-nav {
        padding: $blockThree $blockTwo $blockThree $blockTwo;
        display: flex;
    }

}


@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .content, .submissions-content {
        padding: $blockThree;
        margin-left: $blockFour;
        margin-right: $blockFour;
    }

    .content-title {
        margin-top: $blockThree;
        padding: $blockThree $blockThree 0 $blockThree;
        margin-left: $blockFour;
        margin-right: $blockFour;
    }
}



@media screen and (min-width: 2400px) {
    .content, .submissions-content {
        padding: $blockThree;

    }

    .content-title {
        margin-top: $blockFive ;
        padding: $blockThree $blockThree 0 $blockThree;

    }

    body {
        width: 65%;
    }


    
  }
