.lock {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;

    .access {
        position: relative;
        margin: 200px auto;
        width: 300px;
        height: 300px;
    }
}

.content-warning {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 8;

    .warning {
        position: relative;
        margin: 200px auto;
        width: 80%;
        height: auto;
        .title {
            font-size: larger;
            font-weight: bold;
        }
    }
    .options {
        display: grid;
        width: fit-content;
        grid-template-columns: 1fr 1fr;
        text-transform: uppercase;
        font-size: larger;
        column-gap: 25px;
    }
    a {
        display: block;
        padding: 8px 16px;
        border: 2px solid #333;
        border-radius: 25px;
        background-color: #fff;
        text-decoration: none;
        width: fit-content;
    }

    button {
        padding: 8px 16px;
        border: 2px solid #ccc;
        border-radius: 25px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        width: fit-content;
    }
}

.indent { text-indent: 40px; }
.left40 { margin-left: 40px; }
.right-50-block { margin-left: auto; width: 50%;}
.monospace { font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
.hr40 {
    margin-top: 40px; 
    margin-bottom: 40px; 
    width: 40px;
}

.w250 { max-width: 250px; }
.w450 { max-width: 450px; }
.w650 { max-width: 650px; }
.white { color: #fff; }

.mobile, .laptop, .desktop {
    display: none;
}

#pomegranate {
    width: 100%;
    max-width: 350px;
}

.blood-pacts-bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 61.90%; // calc(2886px / 4662px * 100%);
    background-image: url('https://otherpeoplesd.com/uploads/blood-pacts-kevin-phan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.blood-pacts-content-overlay {
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
}

.little-doll-main {
    display: none;
    padding-top: 30px;
    padding-left: 25px;
    height: 760px;
    background-image: url("https://otherpeoplesd.com/uploads/Little-Doll-Kristy-Lee.png");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 2rem;
}

.grandfather-main {
    display: none;
    padding-top: 30px;
    padding-left: 25px;
    height: 760px;
    background-image: url("https://otherpeoplesd.com/uploads/grandfather-elysia-mac.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.daylily {
    display: grid;
    max-width: 1080px;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;

    .daylily-poem {
        align-self: center;
        line-height: 3rem;
    }
}

.kalbelia {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    
    .kalbelia-media {
        padding-left: 40px;

        iframe {
            position: sticky;
            top: 33vh;
            width: 525px;
            height: 394px;
        }
        audio {
            position: sticky;
            top: calc(33vh + 420px);
        }
    }

    .kalbelia-poem {
        grid-row: 1;
        margin-top: 40px;
        max-width: 740px;
        div { padding-left: 100px; }
    }
    .and-then { text-align: right; margin-right: -30px;}
    .paddingleft11 { padding-left: 150px;}
    .paddingleft12 { padding-left: 170px;}
    .paddingleft13 { padding-left: 180px;}
    .paddingleft14 { padding-left: 200px;}
    .paddingleft15 { padding-left: 220px;}
    .paddingleft16 { padding-left: 240px;}
}

.poem-img-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    img { position: absolute; }
}


@media only screen and (max-width: 768px) {
    .kalbelia {
        display: block;

        .kalbelia-media {
            padding-left: 0px;
            iframe {
                width: 350px;
                height: 260px;
            }
        }
        .kalbelia-poem {
            div {
                padding-left: 10px;
            }
        }
        .and-then { margin-right: 0;}
        .paddingleft11 { padding-left: 15px;}
        .paddingleft12 { padding-left: 17px;}
        .paddingleft13 { padding-left: 18px;}
        .paddingleft14 { padding-left: 20px;}
        .paddingleft15 { padding-left: 22px;}
        .paddingleft16 { padding-left: 24px;}
    }

    .poem-img-col {
        display: block;
        img { position: static; }
    }
}

@media only screen and (max-width: 1536px) {
    .kalbelia {
        display: block;
        iframe, audio {
            position: static !important;
        }
    }
}
@media only screen and (min-width: 525px) {
    .little-doll-main, .grandfather-main { // Little Doll, Grandfather
        display: block;
    }

    .little-doll-mobile, .grandfather-mobile {
        display: none;
    }
}

@media only screen and (max-width: 624px) { // Blood Pacts
    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 625px) {
    .little-doll-main { // Little Doll
        line-height: 3rem;
    }

    @media only screen and (max-width: 768px) { // Blood Pacts
        .laptop {
            display: block;
        }
    }
}

@media only screen and (min-width: 769px) { // Blood Pacts
    .desktop {
        display: block;
    }
}

@media only screen and (max-width: 1080px) {
    .daylily {
        display: block;
        
        .daylily-img {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .daylily-poem {
            line-height: 2rem;
        }
    }
}