.lock {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;

    .access {
        position: relative;
        margin: 200px auto;
        width: 300px;
        height: 300px;
    }
}

.content-warning {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 8;

    .warning {
        position: relative;
        margin: 200px auto;
        width: 80%;
        height: auto;
        .title {
            font-size: larger;
            font-weight: bold;
        }
    }
    .options {
        display: grid;
        width: fit-content;
        grid-template-columns: 1fr 1fr;
        text-transform: uppercase;
        font-size: larger;
        column-gap: 25px;
    }
    a {
        display: block;
        padding: 8px 16px;
        border: 2px solid #333;
        border-radius: 25px;
        background-color: #fff;
        text-decoration: none;
        width: fit-content;
    }

    button {
        padding: 8px 16px;
        border: 2px solid #ccc;
        border-radius: 25px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        width: fit-content;
    }
}

.indent { text-indent: 40px; }
.left40 { margin-left: 40px; }

.hr40 {
    margin-top: 40px; 
    margin-bottom: 40px; 
    width: 40px;
}

.w450 { max-width: 450px; }
.w650 { max-width: 650px; }
.white { color: #fff; }

#pomegranate {
    width: 100%;
    max-width: 350px;
}

.blood-pacts-bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 61.90%; // calc(2886px / 4662px * 100%);
    background-image: url('https://otherpeoplesd.com/uploads/blood-pacts-kevin-phan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.blood-pacts-content-overlay {
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
}

.little-doll-main {
    display: none;
    padding-top: 30px;
    padding-left: 25px;
    height: 760px;
    background-image: url("https://otherpeoplesd.com/uploads/Little-Doll-Kristy-Lee.png");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 2rem;
}

.grandfather-main {
    display: none;
    padding-top: 30px;
    padding-left: 25px;
    height: 760px;
    background-image: url("https://otherpeoplesd.com/uploads/grandfather-elysia-mac.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile, .laptop, .desktop {
    display: none;
}

@media only screen and (min-width: 525px) {
    .little-doll-main, .grandfather-main { // Little Doll, Grandfather
        display: block;
    }

    .little-doll-mobile, .grandfather-mobile {
        display: none;
    }
}

@media only screen and (max-width: 624px) { // Blood Pacts
    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 625px) {
    .little-doll-main { // Little Doll
        line-height: 3rem;
    }

    @media only screen and (max-width: 768px) { // Blood Pacts
        .laptop {
            display: block;
        }
    }
}

@media only screen and (min-width: 769px) { // Blood Pacts
    .desktop {
        display: block;
    }
}