@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
    font-family: "basier_circlemonoregular";
    // Reminder to fix these urls
    src: url("../../assets/fonts/basiercirclemono/basiercirclemono-regular-webfont.eot");
    src: url("../../assets/fonts/basiercirclemono/basiercirclemono-regular-webfont.eot") format("embedded-opentype"),
        url("../../assets/fonts/basiercirclemono/basiercirclemono-regular-webfont.woff2") format("woff2"),
        url("../../assets/fonts/basiercirclemono/basiercirclemono-regular-webfont.woff") format("woff"),
        url("../../assets/fonts/basiercirclemono/basiercirclemono-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}