footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: $blockFour 0 $blockFour 0;
    text-align: center;
    align-items: end;

    svg {
        fill: $bodyColor;
        margin-bottom: $blockOne;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5rem;
        opacity: 0.3;
    }
    h4 {
        opacity: 0.3;
    }
}

@media only screen and (max-width: 728px) {
    footer {
        display: block;
    }
}