// * {
//     border-style: solid;
//     border-width: 1px;
// }

.IndexContainer {
    img {
        width: 100%; /* width of container */
        height: 525px;
        object-fit: cover;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
    }

    a {
        text-decoration: none;
        color: inherit;

        h4 {
            opacity: 0.2;
        }
    }
    a:hover {
        opacity: 1;
        cursor: pointer;

        h4 {
            opacity: 0.5;
        }
    }

    h2, h3, h4 {
        text-align: right;
        padding: $blockTwo $blockThree $blockTwo $blockThree;
    }
}

h1.index-title {
    padding: 0 $blockThree 0 $blockThree;
    bottom: $blockThree;

    left: 0;
    right: 0;
}

h1.page-title {
    padding: 0 $blockThree 0 $blockThree;
    bottom: $blockThree;
    margin-top: $blockThree;
    left: 0;
    right: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 728px) {
    h1.index-title {
        padding-top: $blockThree;
        margin-top: $blockTwo;
        padding: 0 $blockTwo 0 $blockTwo;
    }

    h1.page-title {
        padding: 0 $blockTwo 0 $blockTwo;
        margin-top: $blockFour;
    }

    .IndexContainer {
        img {
            height: 350px;
        }
        
        h2, h3, h4 {
            text-align: right;
            padding: $blockTwo $blockTwo $blockTwo $blockTwo;
        }
    }
}












