$backgroundColor: var(--background-color);
$bodyColor: var(--light-text-color);
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

body {
  width: 100%;
  margin: auto;

  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  padding: 0;
  transition: background-color 0.5s ease-in-out;
}

$blockOne: 8px;
$blockTwo: 16px;
$blockThree: 32px;
$blockFour: 64px;
$blockFive: 128px;
$blockSix: 256px;
$blockSeven: 512px;

h1 {
  font-family: Arial;
  font-size: 4rem;
  font-weight: normal;
  // text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Arial;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial;
  font-size: 1rem;
  font-weight: normal;

  margin: 0;
  padding: 0;
}

h4 {
  font-family: "basier_circlemonoregular";
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
}

html,
html[data-theme="light"] {
  --background-color: #ffffff;
  --light-text-color: #151515;
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
  --background-color: #151515;
  --light-text-color: #ffffff;
  --link-color: rgb(100, 210, 255);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --background-color: #151515;
    --light-text-color: #ffffff;
    --link-color: rgb(100, 210, 255);
    --main-background-color: rgb(28, 28, 30);
    --main-text-color: rgb(229, 229, 234);
  }

  html[data-theme="light"] {
    --background-color: #ffffff;
    --light-text-color: #151515;
    --link-color: rgb(0, 112, 201);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
  }
}
