// MOBILENAV

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: $bodyColor;

    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: $blockThree;
    left: 0;
    right: 0;
    color: $backgroundColor;

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

.overlay-content {
    a {
        color: $backgroundColor;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.closebtn {
    margin-left: auto;
    margin-right: 0;
}

.hidden {
    display: none;
}

.mobile-nav {
    padding: $blockThree;
    left: 0;
    right: 0;
    color: $backgroundColor;

    h1 {
        line-height: 5rem;
    }

    h3 {
        margin-top: $blockThree;
        opacity: 0.5;
        padding-bottom: $blockThree;
    }

    svg {
        width: 2rem;
        fill: none;
        stroke: $backgroundColor;
        stroke-width: 10rem;
        stroke-miterlimit: 100;
        transform: rotate(45deg);
    }
}

.search {
    opacity: 0.5;
}

.search:hover {
    opacity: 1;
}

.genres {
    display: none;
}

.nav-menu {
    margin: 0 0;
    padding-left: 0px;
    font-family: Arial;
    font-size: 4rem;
    list-style: none;

    li {
        line-height: 80px;
        
    }
}

.mobile-nav {
    h1:hover svg {
        margin-left: $blockTwo;
    }
}

.mobile-nav footer {
    text-align: left;
    padding: 0;
    margin-top: $blockThree;
    margin-bottom: $blockThree;

    h4 { 
        line-height: 1.2rem;
    }
}


@media only screen and (max-width: 728px) {
    .overlay-header, .mobile-nav {
        grid-template-columns: 1fr 1fr;
        padding: $blockTwo;
    }

    .overlay-header {
        :nth-child(2) {
            display: none;
        }
    }

    .mobile-nav {
        h1 {
            line-height: 4rem;
        }
    }

    .search {
        margin-top: $blockOne;
    }

    .genres {
        display: initial;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .overlay-header, .mobile-nav {
        grid-template-columns: 1fr 1fr;
        padding: $blockThree;
    }

    .overlay-header {
        :nth-child(2) {
            display: none;
        }
    }

    .genres {
        display: initial;
    }
}
