// MOBILENAV

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: $bodyColor;

    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: $blockThree;
    left: 0;
    right: 0;
    color: $backgroundColor;
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

.overlay-content {
    a {
        color: $backgroundColor;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.closebtn {
    margin-left: auto;
    margin-right: 0;
}

.mobile-nav {
    padding: $blockThree;
    left: 0;
    right: 0;
    color: $backgroundColor;

    margin-top: $blockThree;

    h1 {
        line-height: 5rem;
    }
    h3 {
        margin-top: $blockThree;
        opacity: 0.5;
        padding-bottom: $blockThree;
    }
}

@media only screen and (max-width: 728px) {
    .overlay-header,
    .mobile-nav {
        grid-template-columns: 1fr 1fr;
        padding: $blockTwo;

    }

    .overlay-header {
        :nth-child(2) {
            display: none;
        }
    }

    .mobile-nav {
        margin-top: $blockFour;
        h1 {
            line-height: 4rem;
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .overlay-header,
    .mobile-nav {
        grid-template-columns: 1fr 1fr;
        padding: $blockThree;

    }

    .overlay-header {
        :nth-child(2) {
            display: none;
        }
    }
}
