// * {
//     border-style: solid;
//     border-width: 1px;
// }


.w2b {
    margin-top: $blockFive;
}

.post-container {
    padding: $blockThree;
    margin-top: $blockThree;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $blockThree;

    h1 {
        padding-right: $blockOne;
    }

    h4 {
        margin-top: $blockOne;
        color: gray;
    }

    a {
        color: inherit;
        text-decoration: none;
        span {
            background-color: none;
        }
    }
    a:hover {
        h2 {
            text-decoration: underline;
        }
        h3 {
            color: $backgroundColor;
            transition-duration: 0.3s;
            span {
                background-color: $bodyColor;
            }
        }
    }
}

.posts {
    // padding: $blockThree;
    padding-top: $blockThree;
    border-style: solid;
    border-width: 1px 0 0px 0;

    h4 {
        line-height: .8rem;
    }

    svg {
        width: 60px;
        .st0 {
            fill: none;
            stroke: $bodyColor;
            stroke-width: 10rem;
            stroke-miterlimit: 100;
        }
    }
}

.post-info {
    min-height: 70px;
    display: grid;
    grid-template-columns: 60% 5% 35%;
    :nth-child(3) {
        text-align: right;
    }

    h2 {
        img {
            height: 15px;
            margin-left: 15px;
        }
    }
}

h2.post-title {
    padding: 0 $blockThree 0 $blockThree;
    // margin-top: $blockThree;
    font-size: 4rem;
    text-transform: capitalize;
    // span {
    //     background-color: $backgroundColor;
    //     color: $bodyColor;
    // }
}


h3.post-title{
    padding: 0 $blockThree 0 $blockThree;
    // padding-top: $blockFour;
    margin-top: $blockThree;
    font-size: 2rem;
    opacity: .5;

    a {
        font-size: 1rem;
        color: $backgroundColor;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    
}



.thumb {
    img {
        width: 100%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 728px) {
    .post-container {
        padding: $blockTwo;
        grid-template-columns: 1fr;
    }

    h2.post-title {
        padding: 0 $blockTwo 0 $blockTwo;
    }

    h3.post-title {
        font-size: 1.5rem;
        padding: 0 $blockTwo 0 $blockTwo;
        margin-top: $blockThree;
        opacity: 0.5;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    .post-container {
        grid-template-columns: 1fr 1fr;
    }
}
