// * {
//   border-style: solid;
//   border-width: 1px;
// }

.team_module {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    h3 {
      font-weight: normal;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 10px 0 10px 0;
    }
  }
  
  .team_module_child {
    background-color: $backgroundColor;
    color: $bodyColor;

    padding-bottom: $blockFive;
  }
  
  @media only screen and (max-width: 728px) {
    .team_module {
      width: 95%;
      margin: auto;
  
      padding: 32px 0 80px 0;
      grid-template-columns: auto;
    }
    .team_module_child {
      background-color: $backgroundColor;
      color: $bodyColor;

      padding: 16px 0 16px 0;
    }
  }
  
  @media only screen and (max-width: 1024px) and (min-width: 729px) {
    .team_intro_container {
      padding: 128px 0 0 0;
    }
    .team_module {
      padding: 40px 0 88px 0;
      grid-template-columns: auto auto;
    }
  }
  