<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% if page.title == 'Home' %}
    <script src="{{ site.baseurl }}/assets/js/bgTheme.js"></script>
    {% endif %}
    <script src="{{ site.baseurl }}/assets/js/header.js"></script>
    <script src="{{ site.baseurl }}/assets/js/search-script.js"></script>
    <script src="{{ site.baseurl }}/assets/js/announcement.js"></script>
    {% include favicons.html %}
    {% feed_meta %}
    {% seo title=false %}
</head>

<body>
    {% include headerMain.html %}
    {{ content }}
    {% if page.title == 'Home' %}
        {% include posts.html %}
    {% endif %}

    {% include footer.html %}
</body>

</html>