<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../assets/js/scrollBackgroundColor.js"></script>
</head>

<body>


    <div class="IndexContainer">
        <img src="../assets/uploads/FullSizeRender 2.jpeg">
        <h1 class="index-title">
            <div class="cssanimation sequence fadeInBottom">Spring 2020 —<br>Collection no.1 </div>

          
        </h1>
    </div>


    {% include header.html %}
    {% include posts.html %}


    {{ content}}
</body>

</html>