<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../assets/js/scrollBackgroundColor.js"></script>
</head>

<body>


    <div class="IndexContainer">
        <!-- <img src="../assets/uploads/FullSizeRender 2.jpeg"> -->
        <h1 class="index-title">
            <div class="cssanimation sequence fadeInBottom">Spring 2020 —<br>Collection no.1 </div>

            <div>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 1200"
                    style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
                    <style type="text/css"></style>
                    <polyline class="st0" points="116.7,116.7 1083.3,116.7 1083.3,1083.3 " />
                    <line class="st0" x1="1083.3" y1="116.7" x2="116.7" y2="1083.3" />
                </svg>

            </div>
        </h1>
    </div>





    <!-- <img src="../assets/uploads/FullSizeRender 2.jpeg"> -->

    {% include header.html %}
    {% include posts.html %}


    {{ content}}
</body>

</html>