<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/search-script.js"></script>
    {% include favicons.html %}
</head>

<body>
    <div class="cssanimation sequence fadeInBottom">
        <div class="IndexContainer">
            <div class="content-title">
                <h1>
                    <div class="post_title">{{ page.title }}
                </h1>
            </div>
        </div>
    </div>

    <div class="submissions-content">
        <div class="submissions-status">
            {% if page.status %}
            <h4>Currently accepting submissions</h4>
            {% else %}
            <h4>Currently closed</h4>

            {% endif %}
        </div>

        {{ content }}

    </div>

    {% include header2.html %}
    {% include footer.html %}

</body>

</html>