<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ site.baseurl }}/assets/js/search-script.js"></script>
    <script src="{{ site.baseurl }}/assets/js/announcement.js"></script>
    {% include favicons.html %}
    {% feed_meta %}
    {% seo title=false %}
</head>

<body>
    {% include headerMain.html %}
    {{ content }}

    <div class="cssanimation sequence fadeInBottom">
        <div class="IndexContainer">
            <div class="content-title">
                <h1><div class="post_title">{{ page.title }}</h1>
            </div>
        </div>
    </div>


    <div class="team_module">
        <!-- EDITOR-IN-CHIEF -->
        <div class="team_module_child">
            <ul>
                <h2>Editor in Chief</h2>
                {% for editor-in-chief in page.editor-in-chief %}
                <li>
                    <h3>/ {{ editor-in-chief }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- EDITORIAL -->
        <div class="team_module_child">
            <ul>
                <h2>Editorial</h2>
                {% for editorial in page.editorial %}
                <li>
                    <h3>/ {{ editorial }}</h3>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- DESIGN -->
        <div class="team_module_child">
            <ul>
                <h2>Design</h2>
                {% for design_team in page.design_team %}
                <li>/ {{ design_team }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- EVENTS -->
        <div class="team_module_child">
            <ul>
                <h2>PR + Events</h2>
                {% for publicity_events in page.publicity_events %}
                <li>/ {{ publicity_events }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- MEDIA -->
        <div class="team_module_child">
            <ul>
                <h2>Media</h2>
                {% for media in page.media %}
                <li>/ {{ media }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- FINANCE -->
        <div class="team_module_child">
            <ul>
                <h2>Finance</h2>
                {% for finance in page.finance %}
                <li>/ {{ finance }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>